/* reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Main */

body {
	top: 0;
	left: 0;
	width:100%;
	height:100%;
	text-align:center;
	position: absolute;
	font-family: 'Arial', sans-serif;
}

h1 {
	padding:2%;
	font-size:250%;
}

h2 {
	padding:2%;
	font-size:200%;
}

h3 {
	font-size:150%;
}

h4 {
	font-size:100%;
}

hr {
	margin: 0;
	border: none;
	border-bottom: 1px lightgray solid;
}

i {
	font-style: italic;
}

b {
	font-weight: bold;
}

a {
	color: #FFFFFF;
	cursor:pointer;
	text-decoration:none;

	-webkit-transition:all .5s;
	transition:all .5s;
}

a:hover {
	color:#16a085;
	text-decoration:underline;
}

/* Identifiers */
main {
	display: flex;
}

main > div {
	flex: 1;
}

main > div:first-child {
	height: 90vh;
	flex-grow: 1.5;
	max-width: 60%;
	/*overflow-y: hidden;*/
}

main > #videos > div > button, main > #videos .video, main #queue .queueItem {
	margin: 0;
	width: 100%;
	border: none;
	cursor: pointer;
	text-align: left;
	padding: 10px 5px;
	background-color: transparent;
	transition: background-color .3s ease;

	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

main > div:last-child button:hover, main #queue .queueItem:hover {
	background-color: rgba(0, 0, 0, 0.15);
}

main #songName {
	margin: 10px;
	height: 25px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

main #videos {
	width: 40%;
	height: 90vh;
	/*overflow-y: scroll;*/
}

main #videos > div > div {
	overflow: hidden;
}

main #videos > div > button {
	color: white;
	background-color: #12876f;
	/*border-bottom: 1px lightgray solid;*/
}

main #videos > div > button span {
	margin-top: 3px;
	display: inline-block;
}

main #videos > div > button > div {
	float: right;
}

main #videos > div > button > div > button {
	margin: 0;
	padding: 0;
	width: auto;
	border: none;
	cursor: pointer;
	margin-right: 10px;
	border-radius: 100%;
	background-color: transparent;
}

main #videos > div.closed > div {
	height: 0px;
}

main #videos > div.closed > button .toggleArrow {
	transform: rotate(180deg);
}

main #videos #loaderWrapper {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

main #videos #loaderWrapper > div {
	transform: translate(50%, 20px);
}

main #player {
	width: 100%;
	overflow: hidden;
	position: relative;
	background-color: black;
}

main #queueWrapper {
	padding: 10px 0;
	border-top: 1px lightgray solid;
}

main #queueWrapper h4 {
	margin: 2% 0;
	font-weight: bold;
}

main #queueWrapper #queue {
	max-height: 30vh;
	min-height: 50px;
	overflow-y: auto;
}

main #queueWrapper #queue i {
	color: grey;
}

main #queueWrapper #queue button {
	text-align: center;
}

main #loader {
	top: 0;
	left: 0;
	opacity: 0;
	width: 100%;
	height: 100%;
	display: flex;
	position: absolute;
	align-items: center;
	pointer-events: none;
	justify-content: center;
	transition: opacity 1s ease;
}

main #loader .ball-scale-multiple {
	transform: translate(0, -5vh);
}

main #loader .ball-scale-multiple div:first-child {
	opacity: .8;
	animation: none;
}

main #player #autoplay {
	top: 0;
	left: 0;
	z-index: 5;
	width: 100%;
	height: 100%;
	display: none;
	position: absolute;
	align-items: center;
	pointer-events: all;
	flex-direction: column;
	justify-content: center;
	background-color: rgba(0, 0, 0, 0.7);
}

main #player #autoplay span {
	color: white;
	display: block;
	margin-bottom: 10px;
}

main #player #autoplay #autoplay-time {
	width: 80%;
	height: 4px;
	border-radius: 20px;
	will-change: transform;
	background-color: #16a085;
	transition: transform 1s linear;
}

main #player #video-time-jump {
	width: 100%;
	height: 100%;
	position: absolute;
	align-items: center;
}

main #player #video-time-jump img {
	top: 50%;
	left: 50%;
	opacity: 0;
	width: 5vw;
	height: 5vw;
	padding: 10px;
	position: absolute;
	border-radius: 100%;
	will-change: opacity;
	transform: translate(-50%, -50%);
	background-color: rgba(0, 0, 0, 0.6);
}

main #player #video-settings {
	top: 5%;
	left: 5%;
	width: 90%;
	height: 90%;
	color: white;
	z-index: 1000;
	display: none;
	position: absolute;
	pointer-events: all;
	background-color: rgba(0, 0, 0, 0.8);
}

main #player #video-settings div {
	margin: 2% 0;
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	background-color: rgba(255, 255, 255, 0.2);
}

main #player #video-settings div * {
	margin: 2% 0;
	display: block;
}

main #player #video-settings div:first-child {
	margin-top: 10%;
}

main #player #video-settings button {
	top: 0;
	right: 0;
	color: white;
	border: none;
	cursor: pointer;
	position: absolute;
	background-color: transparent;
}

main #player #videoElem {
	width: 100%;
	height: 40vw;
	background-color: black;
}

main #player #videoElem video {
	width: 100%;
	height: 100%;
}

main #player #videoElem #controls {
	left: 0px;
	width: 100%;
	bottom: 0px;
	height: 40px;
	position: absolute;
	background-color: #16a085;
	transform: translateY(105%);
	transition: transform .3s ease;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

/* (Old code for toggeling controls) */
/*main #player #videoElem:hover #controls {
transform: translateY(0px);
}*/

main #player #videoElem #controls span {
	width: auto;
	color: white;
	height: 100%;
	display: inline-block;
	transform: translateY(-3px);
}

main #player #videoElem #controls button {
	height: 110%;
	border: none;
	cursor: pointer;
	position: relative;
	background-color: transparent;
}

main #player #videoElem #controls button:before {
	opacity: 0;
	width: 40px;
	height: 40px;
	content: ' ';
	display: block;
	position: absolute;
	border-radius: 100%;
	background-color: black;
	transition: opacity .5s ease;
	transform: translate(-20%, -20%);
}

main #player #videoElem #controls button:hover:before {
	opacity: 0.15;
}

main #player #videoElem #controls > div {
	height: 100%;
}




video:full-screen {
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

video:-ms-full-screen {
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

video:-moz-full-screen {
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

video:-webkit-full-screen {
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}



#player:full-screen, #player:full-screen #videoElem {
	height: 100%;
}

#player:-ms-full-screen, #player:-ms-full-screen #videoElem {
	height: 100%;
}

#player:-moz-full-screen, #player:-moz-full-screen #videoElem {
	height: 100%;
}

#player:-webkit-full-screen, #player:-webkit-full-screen #videoElem {
	height: 100%;
}



main #controls #seekBar[type=range] {
	width: 65%;
	margin: 10px 0;
	position: relative;
	border-radius: 20px;
}

main #controls #seekBar[type=range]::-webkit-slider-runnable-track {
	border-radius: 10px;
}

main #controls #seekBar[type=range]::-moz-range-track {
	border-radius: 10px;
}

main #controls #seekBar[type=range]::-ms-track {
	border-radius: 10px;
}