main #controls #seekBar[type=range] {
	height: 20px;
	-webkit-appearance: none;
}
main #controls #seekBar[type=range]:focus {
	/*outline: none;*/
}
main #controls #seekBar[type=range]::-webkit-slider-runnable-track {
	width: 100%;
	height: 20px;
	cursor: pointer;
	animate: 0.2s;
	background: #12876F;
}
main #controls #seekBar[type=range]::-webkit-slider-thumb {
	height: 17px;
	width: 17px;
	border-radius: 100%;
	background: #FFFFFF;
	cursor: pointer;
	-webkit-appearance: none;
	margin-top: 1.5px;
}
main #controls #seekBar[type=range]:focus::-webkit-slider-runnable-track {
	background: #12876F;
}
main #controls #seekBar[type=range]::-moz-range-track {
	width: 100%;
	height: 20px;
	cursor: pointer;
	animate: 0.2s;
	background: #12876F;
}
main #controls #seekBar[type=range]::-moz-range-thumb {
	height: 17px;
	width: 17px;
	border-radius: 100%;
	background: #FFFFFF;
	cursor: pointer;
	margin-top: 1.5px;
}
main #controls #seekBar[type=range]::-ms-track {
	width: 100%;
	height: 20px;
	cursor: pointer;
	animate: 0.2s;
	background: #12876F;
}
main #controls #seekBar[type=range]::-ms-fill-lower {
	background: #12876F;
}
main #controls #seekBar[type=range]::-ms-fill-upper {
	background: #12876F;
}
main #controls #seekBar[type=range]::-ms-thumb {
	margin-top: 1px;
	height: 17px;
	width: 17px;
	border-radius: 100%
	background: #FFFFFF;
	cursor: pointer;
}
main #controls #seekBar[type=range]:focus::-ms-fill-lower {
	background: #12876F;
}
main #controls #seekBar[type=range]:focus::-ms-fill-upper {
	background: #12876F;
}