header {
	z-index: 10;
	width: 100%;
	height: 60px;
	color: white;
	overflow: hidden;
	background-color: #16a085;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
}

header h1 {
	float: left;
	padding-top: 10px;
	white-space: nowrap;
}

header > div {
	margin: 0 20px;
	display: inline-block;
}

header button {
	top: 16px;
	left: 10px;
	width: 20px;
	height: 20px;
	border: none;
	cursor: pointer;
	position: absolute;
	background-color: transparent;
}

header button:before {
	opacity: 0;
	width: 40px;
	height: 40px;
	content: ' ';
	display: block;
	position: absolute;
	border-radius: 100%;
	background-color: white;
	transition: opacity .3s ease;
	transform: translate(-20%, -20%);
}

header button:hover:before {
	opacity: 0.3;
}

header #searchBar {
	height: 20px;
	display: none;
	padding-top: 15px;
}

header #searchBar input {
	padding: 5px;
	border: none;
	color: #16a085;
	text-align: center;
}

header #searchBtn {
	width: 20px;
	height: 20px;
	float: right;
	cursor: pointer;
	padding-top: 20px;
	position: relative;
}

header #searchBtn:before {
	opacity: 0;
	width: 40px;
	height: 40px;
	content: ' ';
	display: block;
	position: absolute;
	border-radius: 100%;
	background-color: white;
	transition: opacity .3s ease;
	transform: translate(-20%, -20%);
}

header #searchBtn:hover:before {
	opacity: 0.3;
}


/* Loader */
@keyframes ball-scale-multiple {
	0% {
		transform: scale(0);
		opacity: 0;
	}
	5% {
		opacity: 1;
	}
	100% {
		transform: scale(1);
		opacity: 0;
	}
}

.ball-scale-multiple {
	position: relative;
	transform: translate(45%, 20px);
}

.ball-scale-multiple > div:nth-child(2) {
	animation-delay: -0.4s;
}

.ball-scale-multiple > div:nth-child(3) {
	animation-delay: -0.2s;
}

.ball-scale-multiple > div {
	background-color: rgba(22, 160, 133, 0.5);
	width: 15px;
	height: 15px;
	border-radius: 100%;
	margin: 2px;
	animation-fill-mode: both;
	position: absolute;
	left: -30px;
	top: 0px;
	opacity: 0;
	margin: 0;
	width: 60px;
	height: 60px;
	animation: ball-scale-multiple 1s 0s linear infinite;
}



#queue button.tmpBtn {
	width: 70%;
	color: white;
	margin: auto;
	border: none;
	cursor: pointer;
	margin-top: 10%;
	max-width: 150px;
	font-size: 0.7em;
	padding: 5px 10px;
	text-align: center;
	border-radius: 20px;
	white-space: pre-wrap;
	background-color: #16a085;
}

#queue button.tmpBtn[disabled] {
	opacity: 0.5;
}

#queue button.tmpBtn:last-child {
	margin-top: 5%;
}